<!DOCTYPE html>

<!-- =========================================================
* Kindergarten Suggestion | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
xmlns:th="https://www.thymeleaf.org"
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free"
>

<head th:replace="~{layouts/base::head}">
</head>

<body>
    <!-- Layout wrapper -->
    <div class="">
        <div class="">
            <!-- Menu -->
            <!-- <aside th:replace="~{components/sidebar::sidebar}"></aside> -->
            <!-- / Menu -->

            <!-- Layout container -->
            <div class="">
                <!-- Navbar -->
                <div th:replace="~{components/header-parent::header}">

                </div>
                <!-- / Navbar -->

                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                     <!-- Content -->
          <div class="container-xxl flex-grow-1 container-p-y">
            <div class="row">
              <h1 class="display-3"><strong>Kindergarten Suggestion's Terms and Conditions</strong></h1>
              <div class="my-2"></div>
              <h4>Last updated October 24, 2024</h4>
              <div class="my-2"></div>
              <h2 class="display-6"><strong>AGREEMENT TO TERMS</strong></h2>
              <div class="col-md-8 col-12">
                <p class="">We are Kindergarten Suggestion, doing business as Kindergarten Suggestion
                  (Kindergarten
                  Suggestion,”
                  “we,” “us,” or “our”), a company registered in the City of Ha Noi. We operate the website
                  <a href="/">https://kindergarten-suggestion.com
                  </a> (the “Website”) through which we provide you our services,
                  (collectively, the “Services” which include the provision and use of the Website).
                </p>
                <p>You agree that by accessing the Site, you have read, understood, and agree to be bound by all of
                  these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are
                  expressly prohibited from using the Site and you must discontinue use immediately.</p>
                <p>Supplemental terms and conditions or documents that may be posted on the Site from time to time are
                  hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to
                  make changes or modifications to these Terms and Conditions at any time and for any reason.
                </p>
                <p>
                  We will alert you about any changes by updating the “Last updated” date of these Terms and Conditions,
                  and you waive any right to receive specific notice of each such change.
                </p>
                <p>It is your responsibility to periodically review these Terms and Conditions to stay informed of
                  updates. You will be subject to, and will be deemed to have been made aware of and to have accepted,
                  the changes in any revised Terms and Conditions by your continued use of the Site after the date such
                  revised Terms and Conditions are posted.
                </p>
                <p>The information provided on the Site is not intended for distribution to or use by any person or
                  entity in any jurisdiction or country where such distribution or use would be contrary to law or
                  regulation or which would subject us to any registration requirement within such jurisdiction or
                  country.
                </p>
                <p>
                  Accordingly, those persons who choose to access the Site from other locations do so on their own
                  initiative and are solely responsible for compliance with local laws, if and to the extent local laws
                  are applicable.
                </p>
                <p>
                  <span><strong class="text-success">Option 1:</strong><span> The Site is intended for users who are at
                      least 18 years old.
                      Persons under the age of 18
                      are not permitted to register for the Site.
                </p>
                <p><strong class="text-success">Option 2:</strong><span> <span><span class="text-success">[The
                        Site is
                        intended for users who are at
                        least 13 years of age.]</span><span>
                        All users who are minors
                        in the jurisdiction in which they reside (generally under the age of 18) must have the
                        permission
                        of,
                        and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you
                        must
                        have your parent or guardian read and agree to these Terms and Conditions prior to you using the
                        Site.
                </p>
                <h2 class="display-6"><strong>CONTACT US</strong></h2>
                <p>In order to resolve a complaint regarding the Site or to receive further information regarding use of
                  the Site, please contact us at:
                <p class="text-primary">Kindergarten Suggestion</p>
                <p class="text-primary">FPT UNIVERSITY, Khu Công Nghệ Cao Hòa Lạc, Km29 Đại lộ Thăng Long, Thạch Hoà,
                  Thạch Thất, Hà Nội 13100
                </p>
                <p class="text-primary"> 024 7300 1866</p>
                <p class="text-primary"> kindergarten_suggestion@mail.com</p>
                </p>
              </div>
            </div>
          </div>
          <!-- / Content -->
                    <!-- / Content -->
                <!-- Content wrapper -->
                <!-- Footer -->
                <footer th:replace="~{components/footer::footer}"></footer>
                <!-- / Footer -->

                <div class="content-backdrop fade"></div>
            <!-- Content wrapper -->
        <!-- / Layout page -->
      </div>
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
    <!-- / Layout wrapper -->
</body>

</html>